<article>
    <header>
        <h3>{{{i18n '常见问题'}}}</h3>
    </header>
    <div class="pad-wrapper">
        <dl>
            <dt>{{{i18n '为什么冷却时间这么长？'}}}</dt>
            <dd>{{{i18n '获得一个像素所需的时间是动态的，会根据在线人数变化。在线人数越多，冷却时间越长。'}}}</dd>
            <dt>{{{i18n '为什么显示 0/6 像素？'}}}</dt>
            <dd>{{{i18n '这表示你正在等待下一个像素。每次放置像素后会有冷却时间，随着时间推移，你最多可以累积 6 个“可用”像素一次性放置。'}}}</dd>
            <dt>{{{i18n '为什么累积像素需要这么久？'}}}</dt>
            <dd>{{{i18n '这是设计如此。建议你获得像素后立即放置。像素“累积”是为了让你短暂离开时有补偿。累积满 6/6 像素大约需要 40 分钟，但如果你及时放置，6 个像素只需约 3 分钟。'}}}</dd>
            <dt>{{{i18n '如何申诉封禁？'}}}</dt>
            <dd>{{{i18n '请在 <a href="https://pxls.space/discord" target="_blank">Discord</a> 联系我们，或在阅读网站信息面板规则后通过 <a href="https://pxls.space/appeal" target="_blank">Google 表单</a> 提交申诉。'}}}</dd>
            <dt>{{{i18n '如何制作模板？'}}}</dt>
            <dd>{{{i18n '模板是一个图片链接，贴到设置面板的模板文本框后可以在画布上对齐放置。你可以用像素画的图片链接，也可以用第三方工具如 <a href="https://charity.pxls.space" target="_blank">Charity</a> 或 <a href="https://discord.gg/5MVDCq53vC" target="blank">Clueless</a> 生成更高级的模板链接。如果需要自己制作像素画，可以用 <a href="https://www.piskelapp.com/p/create" target="_blank">Piskel</a> 创作后再导入 Charity 或 Clueless。'}}}</dd>
            <dt>{{{i18n '如何移动模板？'}}}</dt>
            <dd>{{{i18n '按住 <kbd>CTRL</kbd>（macOS 上为 <kbd>OPTION</kbd>），点击并拖动即可移动。在手机上，长按目标位置后在弹窗中点击“移动模板到此”。'}}}</dd>
            <dt>{{{i18n '画布会重置吗？什么时候？'}}}</dt>
            <dd>{{{i18n '会。当画布填满时会重置。重置日期通常在画布满后决定，平均每块画布约持续 1 个月。重置日期会在我们的 <a href="https://pxls.space/discord" target="_blank">Discord 服务器</a> 公布。'}}}</dd>
            <dt>{{{i18n '在哪里可以看到过去的画布？'}}}</dt>
            <dd>{{{i18n '过去的画布可以在我们的 <a href="https://pxls.space/discord" target="_blank">Discord 服务器</a> 查看，或在第三方网站 <a href="https://pxlsfiddle.com" target="_blank">PxlsFiddle</a>，该网站记录了每块画布的时间轴和许多有用信息。'}}}</dd>
            <dt>{{{i18n '如何查看是谁放置了某个像素？'}}}</dt>
            <dd>{{{i18n '按住 Shift 点击（或在手机上长按）某个像素，可以查看是谁放置的、他们放置了多少像素，以及放置时间。'}}}</dd>
            <dt>{{{i18n '如何举报他人？'}}}</dt>
            <dd>{{{i18n 'Shift 点击（或手机长按）某个像素，然后点击举报按钮。'}}}</dd>
            <dt>{{{i18n '如何更改聊天昵称颜色？'}}}</dt>
            <dd>{{{i18n '在设置面板底部有“昵称颜色”选项。'}}}</dd>
            <dt>{{{i18n '什么是“处女图”？'}}}</dt>
            <dd>{{{i18n '处女图显示哪些像素还未被放置（即“处女”像素）。'}}}</dd>
            <dt>{{{i18n '如何报告 BUG？'}}}</dt>
            <dd>{{{i18n '请在 <a href="https://pxls.space/discord" target="_blank">Discord 服务器</a> 的 #dev-and-bugs 频道提交 BUG。如果发现漏洞，请私信管理员。'}}}</dd>
            <dt>{{{i18n '如何获取更多信息或联系管理员？'}}}</dt>
            <dd>{{{i18n '点击左上角的信息面板图标获取更多详情和链接，或加入我们的 <a href="https://pxls.space/discord" target="_blank">Discord 服务器</a>，管理员会及时回复。'}}}</dd>
        </dl>
    </div>
</article>
