<article data-id="welcome">
    <header>
        <h3>{{{i18n '欢迎！'}}}</h3>
    </header>
    <div class="pad-wrapper">
        <p>{{{i18n '欢迎来到 pxls.space！Pxls 是一个多人在线协作画布，灵感来自 Reddit 2017 年的 <a href="https://www.reddit.com/r/place" target="_blank">r/place</a> 活动，你可以一像素一像素地创造任何你能想象的东西。加入数百名 Pxls 社区玩家，团队协作或单独创作精彩艺术作品。'}}}</p>
        <p>{{{i18n '联系管理员和社区成员的最佳方式是加入 Discord！'}}}</p>
        <p>{{{i18n '欢迎关注我们的社交媒体页面，请务必阅读下方规则。祝你创作（或修改）艺术愉快！'}}}</p>
    </div>
</article>
<article data-id="canvas-rules" id="canvas-rules">
    <header>
        <h3 class="text-red">{{{i18n '画布规则'}}}</h3>
    </header>
    <div class="pad-wrapper" id="rules-content">
        <p>{{{i18n '我们致力于保持一个开放、自由、不受外部干扰和审查的画布。但为了社区的健康和我们的信念，请遵守以下准则：'}}}</p>
        <ol>
            <li>{{{i18n '禁止仇恨图像或贬低性言论。包括但不限于 <i>f****t</i>、<i>n****r</i> 等词语；以及纳粹标志、镰刀锤子、任何恐怖主义符号。'}}}</li>
            <li>{{{i18n '禁止 NSFW 或 NSFL 内容。'}}}
                <ul>
                    <li>{{{i18n '禁止裸露或其他性暗示内容'}}}
                        <ul>
                            <li>{{{i18n '禁止女性乳头/裸胸、性器官、性液体'}}}</li>
                        </ul>
                    </li>
                    <li>{{{i18n '禁止性暗示图像/色情'}}}</li>
                    <li>{{{i18n '禁止过度血腥或其他淫秽/令人震惊的内容'}}}</li>
                </ul>
            </li>
            <li>{{{i18n '每个用户仅限 <b>一个</b> 账号，无例外。多账号用户将被禁止在画布创作。'}}}</li>
            <li>{{{i18n '禁止任何自动放置工具，必须手动放置像素。'}}}</li>
            <li>{{{i18n '禁止滥用网站功能，如举报或查询。（例如自动举报/自动查询等）'}}}</li>
            <li>{{{i18n '禁止自动收集用户查询数据，违者将被封禁。'}}}</li>
            <li>{{{i18n '管理员对规则争议拥有最终决定权'}}}
                <ul>{{{i18n '如认为管理员行为不当，请向管理员举报。'}}}</ul>
            </li>
        </ol>
        <p>{{{i18n '如认为自己被误封，可联系管理员或超级管理员。'}}}</p>
    </div>
</article>
<article data-id="chat-rules" id="chat-rules">
    <header>
        <h3 class="text-red">{{{i18n '聊天规则'}}}</h3>
    </header>
    <div class="pad-wrapper">
        <ol>
            <li>{{{i18n '保持聊天文明。禁止骚扰、恐同/跨性别歧视/歧视残障人士言论。'}}}</li>
            <li>{{{i18n '禁止仇恨言论，包括表情符号/符号/ASCII 艺术。'}}}
                <ul>
                    <li>{{{i18n '普通的脏话等允许'}}}</li>
                </ul>
            </li>
            <li>{{{i18n '禁止刷屏'}}}
                <ul>
                    <li>{{{i18n '包括过多的 ASCII 艺术/表情/符号/空白'}}}</li>
                </ul>
            </li>
            <li>{{{i18n '禁止“复制粘贴”内容'}}}</li>
            <li>{{{i18n '禁止链接到违反画布或聊天规则的网站（如色情网站）'}}}</li>
            <li>{{{i18n '禁止违反画布或聊天规则的符号（如 NSFW ASCII 艺术）'}}}</li>
            <li>{{{i18n '禁止泄露个人信息'}}}</li>
            <li>{{{i18n '管理员对规则争议拥有最终决定权'}}}
                <ul>
                    <li>{{{i18n '如认为管理员行为不当，请向管理员举报。'}}}</li>
                </ul>
            </li>
        </ol>
    </div>
</article>
<article data-id="links">
    <header>
        <h3>{{{i18n '链接'}}}</h3>
    </header>
    <div class="pad-wrapper">
        <ul>
            <li><a href="https://docs.pxls.space/en/legal/terms" target="_blank">{{{i18n '服务条款'}}}</a></li>
            <li><a href="https://docs.pxls.space/en/legal/privacy" target="_blank">{{{i18n '隐私政策'}}}</a></li>
        </ul>
        <ul>
            <li><a href="https://pxls.space/discord" target="_blank">{{{i18n 'Discord（主社区）'}}}</a></li>
            <li><a href="https://twitter.com/pxlsspace" target="_blank">{{{i18n '推特'}}}</a></li>
            <li><a href="https://github.com/pxlsspace/Pxls" target="_blank">{{{i18n 'GitHub（后端）'}}}</a></li>
            <li><a href="https://github.com/pxlsspace/pxls-web" target="_blank">{{{i18n 'GitHub（前端）'}}}</a></li>
            <li><a href="http://www.piskelapp.com/p/create/sprite" target="_blank">{{{i18n '单人模式'}}}</a></li>
        </ul>
        <ul>
            <li><a href="https://pxls.space/stats" target="_blank">{{{i18n '统计'}}}</a></li>
            <li><a href="https://pxls.space/profile" target="_blank">{{{i18n '个人资料（用户信息、阵营等）'}}}</a></li>
            <li><a href="https://wiki.pxls.space" target="_blank">{{{i18n 'Wiki'}}}</a></li>
            <li><a href="https://charity.pxls.space/" target="_blank" title="{{{i18n 'Pxls 模板的生成器、进度检查和监控'}}}">{{{i18n 'Charity（模板、监控等）'}}}</a></li>
            <li><a href="https://archives.pxls.space/" target="_blank" title="{{{i18n '存档'}}}">{{{i18n '存档'}}}</a></li>
            <li><a href="https://pxlsfiddle.com/" target="_blank" title="{{{i18n '存档'}}}">{{{i18n 'PxlsFiddle（存档）'}}}</a></li>
        </ul>
    </div>
</article>
<article data-id="donate">
    <header>
        <h3>{{{i18n '捐赠'}}}</h3>
    </header>
    <div class="pad-wrapper">
        <p>{{{i18n '目前暂不接受捐赠，开放后本面板会及时更新！'}}}</p>
    </div>
</article>
        <p>{{{i18n 'Donations are not accepted at this time, but this panel will be updated when they\'re open again!'}}}</p>
    </div>
</article>
