<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{err}} - {{title}}</title>
    <script src="/jquery-3.4.1.min.js"></script>
    <script src="/profile/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/profile/css/theme-purple.min.css">
    <link rel="stylesheet" href="/fontawesome-all.min.css">
</head>
<body>
<nav class="navbar navbar-dark navbar-expand-md" role="nav">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/" class="nav-link">{{title}}</a>
        </li>
    </ul>
    {{#if self}}
    <div class="my-2 my-lg-0">
        <div class="dropdown">
            <button class="navbar-text btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" id="btnNavUserDropdown">
                <i class="fas fa-user-alt mr-1"></i>{{self.name}}
            </button>
            <div class="dropdown-menu dropdown-menu-right" id="navUserDropdown" aria-labelledby="btnNavUserDropdown">
                <a href="/profile?action=details" class="dropdown-item">{{{i18n '我的资料'}}}</a>
                <a href="/profile?action=factions" class="dropdown-item">{{{i18n '我的阵营'}}}</a>
            </div>
        </div>
    </div>
    {{/if}}
</nav>
<main role="main" class="mb-3">
    <div class="container">
        {{#if (eq err 404) }}
        <h1>{{{i18n '未找到'}}}</h1>
        <hr>
        <p>{{{i18n '您请求的内容在此网址无法找到。如果您认为这是错误，请联系开发者。'}}}</p>
        <div class="d-block">
            <a href="/" class="btn btn-primary mr-1"><i class="fas fa-arrow-left"></i> {{{i18n '返回首页'}}}</a>
            <a href="/profile" class="btn btn-primary mr-1"><i class="fas fa-user"></i> {{{i18n '我的资料'}}}</a>
        </div>
        {{else if (eq err 403) }}
        <h1>{{{i18n '未认证'}}}</h1>
        <hr>
        <p>{{{i18n '您必须登录才能访问此数据。请返回首页并完成认证流程。'}}}</p>
        <div class="d-block">
            <a href="/" class="btn btn-primary mr-1"><i class="fas fa-arrow-left"></i> {{{i18n '返回首页'}}}</a>
        </div>
        {{else}}
        <h1>{{{i18n '不允许'}}}</h1>
        <hr>
        <p>{{{i18n '您尝试执行的操作不被允许或发生了错误。请确保您有权限访问该接口并稍后再试。'}}}</p>
        <div class="d-block">
            <a href="/" class="btn btn-primary mr-1"><i class="fas fa-arrow-left"></i> {{{i18n '返回首页'}}}</a>
            <a href="/profile" class="btn btn-primary mr-1"><i class="fas fa-user"></i> {{{i18n '我的资料'}}}</a>
        </div>
        {{/if}}
    </div>
</main>
<script src="/profile/js/views/root.js"></script>
</body>
</html>
</main>
<script src="/profile/js/views/root.js"></script>
</body>
</html>
